name: ci

on:
  repository_dispatch:
  workflow_dispatch:
  push:
    branches:
      - master
      - '[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  multi-registries:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Branch name
        run: echo running on branch ${GITHUB_REF##*/}
      -
        name: Prepare image tag name
        run: |
          echo IMAGE_TAG=$(echo ${GITHUB_REF##*/} | sed 's/master/latest/') >> $GITHUB_ENV
          echo IMAGE_TAG=$(echo ${GITHUB_REF##*/} | sed 's/master/latest/')
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          push: true
          build-args: |
            SOURCE_BRANCH=${{ env.IMAGE_TAG }}
          tags: |
            neszt/cppcheck-docker:${{ env.IMAGE_TAG }}
            ghcr.io/neszt/cppcheck-docker:${{ env.IMAGE_TAG }}
